# ---- Python ----
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.dmypy.json
.python-version

# ---- 编辑器 / 系统 ----
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db